<!DOCTYPE html>
<html>
<head>
    <title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="app">
<div class="container-fluid" ng-controller="appCtrl" ng-cloak="true">
<form ng-submit="play()">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Obstruction Game <small></small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="form-group">
          <label>
            App Url
          </label>
          <input type="text" class="form-control" ng-model="appUrl" />
        </div>
        <div>
          <div class="form-group col-md-4">
            <label>
              Grid Height
            </label>
            <input type="number" class="form-control" ng-model="appGridHeight" />
          </div>
          <div class="form-group col-md-4">
            <label>
              Grid Width
            </label>
            <input type="number" class="form-control" ng-model="appGridWidth" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="form-group">
          <label>
            Player 1 name
          </label>
          <input type="text" class="form-control" ng-disabled="p1Random" ng-model="p1Name" />
        </div>
        <div class="form-group">
          <label>
            Identifier
          </label>
          <input type="text" class="form-control" ng-disabled="p1Random" ng-model="p1Id" />
        </div>
        <div class="form-group">
          <label>
            URL
          </label>
          <input type="text" class="form-control" ng-disabled="p1Random" ng-model="p1Url" />
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="p1Random"/> Random player
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <div class="form-group">
          <label>
            Player 2 name
          </label>
          <input type="text" class="form-control" ng-disabled="p2Random" ng-model="p2Name" />
        </div>
        <div class="form-group">
          <label>
            Identifier
          </label>
          <input type="text" class="form-control" ng-disabled="p2Random" ng-model="p2Id" />
        </div>
        <div class="form-group">
          <label>
            URL
          </label>
          <input type="text" class="form-control" ng-disabled="p2Random" ng-model="p2Url" />
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="p2Random"/> Random player
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 25px"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Play!</button>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row" style="height: 25px"></div>
  <div class="row" ng-show="gameScore">
    <div class="col-md-12">
      <div class="panel-group" id="panel">
        <div class="text-center" style="margin-bottom: 10px">
          <strong class="h3">
            {{gameScore}}
          </strong>
        </div>
        <div ng-repeat="log in gameLogs track by $index" class="panel panel-default">
          <div class="panel-heading">
            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-200156" data-target="#panel-element-{{$index}}">Game #{{$index + 1}}</a>
          </div>
          <div ng-attr-id="panel-element-{{$index}}" class="panel-collapse collapse">
            <div class="panel-body">
              {{log}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="appController.js"></script>
</body>
</html>